{% extends "base.html" %}
{% block title %}Игра{% endblock %}
{% block content %}
    {% if user.is_anonymous == False %}
    <div class="text-center m-3">
     <button type="join_to_hunter" class="btn btn-danger" id="hunter">Войти за охотника</button>
     <button type="join_to_survivor" class="btn btn-success" id="survivor">Войти за выживающего</button>
    </div>
    {% endif %}
    <canvas width="800" height="800" id="game"></canvas>
{% endblock %}
{% block script %}
    <script>
        var mySid = null;
        var hunter_btn = document.getElementById("hunter");

        hunter_btn.onclick = function() {
            fetch("/select/hunter/" + mySid).then(response => {
                return response.json();
            }).then(data => {
                if (data["status"] == 403) {
                    alert("Охотник уже выбран!")
                }
            })
        };
        var survivor_btn = document.getElementById("survivor");

        survivor_btn.onclick = function() {
            fetch("/select/survivor/" + mySid).then(response => {
                return
            })
        };

        document.addEventListener("DOMContentLoaded", function() {
            var socket = io();
            const canvas = document.getElementById('game');
            const ctx = canvas.getContext('2d');
            var players = {};
            
            const speedx = 10;
            const speedy = 10;
            function draw() {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                for (let id in players) {
                    let player = players[id];
                    ctx.beginPath();
                    ctx.arc(player.x, player.y, 10, 0, Math.PI * 2);
                    ctx.font = "9px serif";
                    ctx.fillStyle = "black";
                    ctx.textAlign = "center";
                    ctx.fillText(player["role"], player.x, player.y - 12, 20)
                    ctx.fillStyle = player["color"]
                    ctx.fill();  
                };
            };

            document.onkeydown = function(e) {
                if (!mySid) {
                    return;
                }
                let me = players[mySid];
                if (e.key == 'w' || e.key == 'ц') {
                    me.y -= 10;
                }
                if (e.key === 's' || e.key === 'ы') {
                    me.y += 10;
                }
                if (e.key === 'd' || e.key === 'в') {
                    me.x += 10;
                }
                if (e.key === 'a' || e.key === 'ф') {
                    me.x -= 10;
                }
                socket.emit('move', {x: me.x, y: me.y});
            };

            socket.on('ur_sid', function(data) {
                mySid = data.id;
            })
             socket.on('update_all', function(data){
                players = data;
                draw();
            });
            window.addEventListener('beforeunload', function(e) {
                socket.disconnect();
            })
        });
    </script>
{% endblock %}