{% extends "base.html" %}
{% block title %}Игра{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <p id="hunters" class="mx-2"> </p>
        <p id="survivors" class="mx-2"></p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 text-center m-3">
        <button type="join_to_hunter" class="btn btn-danger" id="hunter">Войти за охотника</button>
        <button type="join_to_survivor" class="btn btn-success" id="survivor">Войти за выживающего</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 text-center m-3">
        <p id="timer">Ожидание начала раунда...</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 text-center m-3">
        <p id="result" style="color: red;"></p>
    </div>
</div>
<canvas width="800" height="800" id="game"></canvas>
{% endblock %}
{% block script %}
<script>
    var mySid = null;
    var hunter_btn = document.getElementById("hunter");
    const isSensor = 'ontouchstart' in window || navigator.maxTouchPoints > 0;
    var obstacles = [];
    function generateObstacles(count) {
        const obstacle = {
            x: Math.random() * (canvas.width - 100) + 50,
            y: Math.random() * (canvas.height - 100) + 50,
            width: Math.random() * 60 + 40,
            height: Math.random() * 60 + 40,
            type: Math.random() > 0.5 ? 'rect': 'circle'
        }
        let overlapse = false;
    };

    hunter_btn.onclick = function () {
        fetch("/select/hunter/" + mySid).then(response => {
            return response.json();
        }).then(data => {
            if (data["status"] == 403) {
                alert("Охотник уже выбран!");
            } else if (data["status"] == 401) {
                alert("Нужно зарегистрироваться!");
            } else if (data["status"] == 406) {
                alert("Вы - единственный выживший!");
            } // охотник видит всё поле до первого движения
        })
    };
    var survivor_btn = document.getElementById("survivor");

    survivor_btn.onclick = function () {
        fetch("/select/survivor/" + mySid).then(response => {
            return response.json()
        }).then(data => {
            if (data["status"] == 403) {
                alert("Вы уже выживший!");
            }
        })
    };

    document.addEventListener("DOMContentLoaded", function () {
        var socket = io();
        const canvas = document.getElementById('game');
        const ctx = canvas.getContext('2d');
        var players = {};
        var walls = {}
        var roundEndTime = null;
        var waitingTime = null;
        var isWaiting = false;
        var timerInterval = 0;
        const speedx = 10;
        const speedy = 10;
        function draw() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            let hunter = players.hunter;
            if (mySid == hunter && players["hunter"]) {
                ctx.save();
                ctx.fillStyle = 'black';
                ctx.fillRect(0, 0, canvas.width, canvas.height);
                ctx.globalCompositeOperation = 'destination-out'; // source-over
                ctx.beginPath();
                ctx.arc(players[hunter].x, players[hunter].y, 150, 0, Math.PI * 2);
                ctx.fillStyle = 'white';
                ctx.fill();
                ctx.globalCompositeOperation = 'source-over';
                ctx.beginPath();
                ctx.arc(players[hunter].x, players[hunter].y, 150, 0, Math.PI * 2);
                ctx.strokeStyle = 'rgba(255, 255, 255, 0.5)';
                ctx.lineWidth = 2;
                ctx.stroke();
                ctx.restore();
            }
            for (let id in players) {
                if (players[id] && typeof (players[id] != "string")) {
                    let player = players[id];
                    if (id != hunter && hunter == mySid) {
                        let distance = Math.sqrt(
                            Math.pow(player.x - players[mySid].x, 2) +
                            Math.pow(player.y - players[mySid].y, 2)
                        );
                        if (distance > 150) continue;
                    }
                    if (!players[id].is_alive) continue;
                    ctx.beginPath();
                    ctx.arc(player.x, player.y, 10, 0, Math.PI * 2);
                    ctx.font = "9px serif";
                    ctx.fillStyle = "black";
                    ctx.textAlign = "center";
                    ctx.fillText(player["username"], player.x, player.y - 12, 20)
                    ctx.fillStyle = player["color"]
                    ctx.fill();
                }
            };
            for (let wall_num in walls) {
                let wall = walls[wall_num];
                if (hunter == mySid && players["hunter"]) {
                    let distance = Math.sqrt(
                        Math.pow(wall[0] - players[mySid].x, 2) +
                        Math.pow(wall[1] - players[mySid].y, 2)
                    );
                    if (distance > 150) continue;
                }
                ctx.beginPath();
                ctx.fillStyle = "red";
                ctx.fillRect(wall[0], wall[1], 15, 30);
                ctx.fill();
            } 
        };
        canvas.addEventListener("click", function (event) {
            let hunter = players.hunter;
            if (mySid != hunter) return;
            const rect = canvas.getBoundingClientRect();
            const clickX = event.clientX - rect.left;
            const clickY = event.clientY - rect.top;
            socket.emit("check_shot", { shot_x : clickX, shot_y : clickY });
        })
        document.onkeydown = function (e) {
            if (!mySid) {
                return;
            }
            let me = players[mySid];
            if (e.key == 'w' || e.key == 'ц') {
                me.y -= 10;
            }
            if (e.key === 's' || e.key === 'ы') {
                me.y += 10;
            }
            if (e.key === 'd' || e.key === 'в') {
                me.x += 10;
            }
            if (e.key === 'a' || e.key === 'ф') {
                me.x -= 10;
            }
            socket.emit('move', { x: me.x, y: me.y });
        };
        socket.on('show_hit', function(data) {
            if (mySid == data.id) {
                socket.emit("kill", { target_id: data.id });
            }
            ctx.save();
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 4;
            ctx.beginPath();
            ctx.arc(data.x, data.y, 15, 0, Math.PI * 2);
            ctx.stroke();
            ctx.restore();
            setTimeout(draw, 500);
        });

        function UpdateInfo (data) {
            let hunter_paragraph = document.getElementById("hunters")
            let survivors_paragraph = document.getElementById("survivors")
            hunter_paragraph.textContent = `Число охотников: ${data.total_hunters}/${data.max_hunters}`
            survivors_paragraph.textContent = `Число выживших: ${data.total_survivors}`
        }
        function updateTimer() {
            console.log(Date.now(), Date.now() / 1000);
            let now = Date.now() / 1000;
            let timeLeft = waitingTime - now;
            if (!isWaiting) {
                timeLeft = roundEndTime - now;
            }   
            let minutes = Math.floor(timeLeft / 60);
            let seconds = Math.floor(timeLeft % 60);
            if (timeLeft > 0) {
                seconds = `${seconds}`;
                if (seconds.length == 1) {
                    seconds = '0' + seconds;
                }
                document.getElementById('timer').innerText = `0${minutes}:${seconds}`;
            } else {
                document.getElementById('timer').innerText = `Ожидание начала раунда...`;
                if (!isWaiting) {
                    socket.emit('stop_timer_signal');
                    clearInterval(timerInterval)
                }
            }
        }

        socket.on('ur_sid', function (data) {
            mySid = data.id;
        });
        socket.on('kill_signal', function (data) {

            if (mySid == data.target_id) {
                alert("Вы стали жертвой охотника!");
            }
        });
        socket.on('start_game_timer',function(data){
            roundEndTime = data.end_time;
            isWaiting = false;
            alert('Игра начинается!')
            timerInterval = setInterval(updateTimer, 1000);
        })
        socket.on('hunter_win', function (data) {
            UpdateInfo(data);
            document.getElementById('result').innerText = 'Выживших нет, охотник победил!';
        });
        socket.on('survivors_win', function (data) {
            UpdateInfo(data);
            document.getElementById('result').innerText = 'Выжившие победили!';
        });
        socket.on('update_all', function (data) {
            players = data;
            draw();
        });
        socket.on('update_walls',function (data) {
            walls = data;
            draw();
        });
        socket.on('start_wait', function(data) {
            waitingTime = data.end_time;
            isWaiting = true;
            timerInterval = setInterval(updateTimer, 1000)
        })
        

        socket.on('update_info', function(data) {
            UpdateInfo(data);
        })
        window.addEventListener('beforeunload', function (e) {
            socket.disconnect();
        })
    });
</script>
{% endblock %}