{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="container">
    <h2 align="center">Регистрация</h2>
    <form method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Юзернейм</label>
            <input type="name" class="form-control" id="exampleInputEmail1" name="username">
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="InputPassword" name="password1">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
    {{ error }}
</div>
{% endblock %}